<div class="bg-body">
    <div class="container centrer">
        <div class="card whidh">
            <div class="text-center pt-4 h3">
                CONNECTION
            </div>
            <div class="card-body">
                <form novalidate (ngSubmit)="saveData(connectionForm)" #connectionForm ="ngForm">
                    <fieldset>
                        <div class=" ">
                            <div class="form-group" >
                                <div class="col-md-8 mb-4">
                                    <label >E-MAIL :</label>
                                    <input type="email" class="form-control" placeholder="Entrer votre Email"
                                    [(ngModel)] = "user.email" name="email" required #emailVar="ngModel"
                                    [ngClass]=" {'is-invalid' : emailVar.touched && !emailVar.valid}" />

                                    <div class="invalid-feedback">
                                        <span *ngIf="emailVar.errors">
                                            Entrer votre E-Mail
                                        </span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group" >    
                                <div class="col-md-8 mb-4 ">
                                    <label >MOT DE PASSE :</label>
                                    <input type="text" class="form-control" placeholder="Entrer votre mot de passe"
                                    [(ngModel)] = "user.password" name="password" required #passwordVar="ngModel"
                                    [ngClass]=" {'is-invalid' : passwordVar.touched && !passwordVar.valid}" />
                                    
                                    <div class="invalid-feedback">
                                        <span *ngIf="passwordVar.errors">
                                            Mot de passe incorrecte
                                        </span>
                                    </div>

                                    <a href="">Mot de passe oublié?</a>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-md-8 mb-4 ">
                            <input type="submit" class="btn btn-primary" value="Connexion">
                        </div>
                        <div class="text-right">
                                <a href="register/user" type="button" class="btn  btn-primary">
                                    Créer un compte
                                </a>
                        </div>    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

