<div class="parent">
    <div class="bg-body">
        <div class="container centrer">
            <div class="left-sectio">
                <div class="card shadow-lg">
                    <div class="text-center pt-4 h3 text-primary">
                        S'INSCRIRE
                    </div>
                    <div class="card-body">
                        <form novalidate (ngSubmit)="saveData(registerForm)" #registerForm="ngForm">
                            <div class="form-group">
                                <div class="col-md-12 mb-3">
                                    <label class="form-check-label">E-Mail</label>
                                    <input type="email" placeholder="email" class="form-control"
                                           [(ngModel)]="user.email" name="email" required #emailVar="ngModel"
                                           [ngClass]="{'is-invalid': emailVar.touched && !emailVar.valid}" />
                                    <div class="invalid-feedback" *ngIf="emailVar.touched && emailVar.invalid">
                                        <span *ngIf="emailVar.errors?.['required']">Entrer votre E-Mail</span>
                                        <span *ngIf="emailVar.errors?.['email']">Email incorrect</span>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Nom :</label>
                                        <input type="text" class="form-control" placeholder="Entrer votre nom" 
                                               [(ngModel)]="user.firstName" name="nom" required #nomVar="ngModel"
                                               [ngClass]="{'is-invalid': nomVar.touched && !nomVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="nomVar.touched && nomVar.invalid">
                                            Nom requis
                                        </div>
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label>Prenom :</label>
                                        <input type="text" class="form-control" placeholder="Entrer votre prénom" 
                                               [(ngModel)]="user.lastName" name="lastName" required #lastNameVar="ngModel"
                                               [ngClass]="{'is-invalid': lastNameVar.touched && !lastNameVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="lastNameVar.touched && lastNameVar.invalid">
                                            Prénom requis
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Ville :</label>
                                        <input type="text" class="form-control" placeholder="Entrer votre ville" 
                                               [(ngModel)]="user.phone" name="ville" required #villeVar="ngModel"
                                               [ngClass]="{'is-invalid': villeVar.touched && !villeVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="villeVar.touched && villeVar.invalid">
                                            Ville requise
                                        </div>
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label>Date De Naissance :</label>
                                        <input type="date" class="form-control" 
                                               [(ngModel)]="user.created_at" name="dateNaissance" required #dateNaissanceVar="ngModel"
                                               [ngClass]="{'is-invalid': dateNaissanceVar.touched && !dateNaissanceVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="dateNaissanceVar.touched && dateNaissanceVar.invalid">
                                            Date de naissance requise
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Tel :</label>
                                        <input type="text" class="form-control" placeholder="Entrer votre ville" 
                                               [(ngModel)]="user.phone" name="ville" required #phoneVar="ngModel"
                                               [ngClass]="{'is-invalid': phoneVar.touched && !phoneVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="phoneVar.touched && phoneVar.invalid">
                                            Ville requise
                                        </div>
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <i class="fas fa-lock icon"></i>
                                        <label>Mot de passe :</label>
                                        <input type="password" class="form-control" 
                                               [(ngModel)]="user.password" name="password" required #passwordVar="ngModel"
                                               [ngClass]="{'is-invalid': passwordVar.touched && !passwordVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="passwordVar.touched && passwordVar.invalid">
                                            Au moins 6 letre et 1 carractaire
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <i class="fas fa-lock icon"></i>
                                        <label>Mot de passe :</label>
                                        <input type="password" class="form-control" 
                                            [(ngModel)]="user.confirmPassword" name="password1" required #confirmPasswordVar="ngModel"
                                            [ngClass]="{'is-invalid': confirmPasswordVar.touched && !confirmPasswordVar.valid}" />
                                        <div class="invalid-feedback" *ngIf="confirmPasswordVar.touched && confirmPasswordVar.invalid">
                                            Mot de passe incorrecte
                                        </div>
                                    </div>
                                </div >
                                <div class=" text-right ">
                                    <button type="submit" class="btn btn-primary">Inscription</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
