<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="/" class="logo-link"> 
      <span class="logo">Je Suis Utile</span>
    </a>
    <div class="spacer"></div> 
    <div class="menu-buttons">
      <a href="/volunteering/opportunities" mat-button>
        <mat-icon>search</mat-icon> Trouver une opportunité</a>
      <a href="/register/organisation" mat-button>
        <mat-icon>volunteer_activism</mat-icon>Publier une opportunité</a>
      <button mat-button >
        Mon compte <mat-icon>person</mat-icon> 
      </button>
      <a href="login" mat-button>Login</a>
      

    </div>
  </mat-toolbar-row>
</mat-toolbar>
