mat-table {
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  mat-header-cell {
    font-weight: bold;
    background-color: #f2f2f2;
  }